name: ltn_env
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - numpy
  - matplotlib
  - pandas
  - jupyter
  - ipykernel
  - pip
  - pip:
    - ltn